@model LvhBaiKiemTraGK.Models.LvhKhoa

@{
    ViewBag.Title = "LvhDetails";
}

<h2>Lvh Details</h2>

<div>
    <h4>LvhKhoa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LvhTenKh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LvhTenKh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LvhTrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LvhTrangThai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("LvhEdit", "LvhEdit", new { id = Model.LvhMaKH }) |
    @Html.ActionLink("Back to List", "LvhIndex")
</p>
